<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carregamento de Página</title>

</head>
<body>

<button id="confirm">Carregar Dados</button>

<script>
    const botao = document.getElementById("confirm");
    const job_data_list = 'None'; // Substitua pelo seu dado real

    botao.addEventListener("click", function () {
        loading.style.display = "block"; // Mostrar animação de carregamento



        function exibirMensagemErro() {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: "Nenhum resultado encontrado, tente outros filtros!",
                showConfirmButton: false,
                timer: 2500,
                background: '#dee2e6',
            });
        }
    });
</script>

</body>
</html>