{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--    Google Fonts -->

    <link href="{% static '/staticfiles/assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/staticfiles/assets/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/staticfiles/assets/css/reset.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">
    <link href="{% static 'assets/css/reset.css'%}" rel="stylesheet" type="text/css" />


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>


<!--    Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<!--    Bootstrap Icons -->


    <title> Search Job</title>


</head>
<body style="background: black">
    <header>
    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Download CSV </button>
    </div>
</header>
    <main>
        <section>
            <div class="interface">
                <h1> Search Job </h1>

                <div class="flex">
                    <div class="form">
                        <form class="form-camp" method="post" action="#"> {% csrf_token %}
                            {{ form.title_key_words.label }}
                            {{ form.title_key_words }}
                            {{ form.date_start.label }}
                            {{ form.date_start }}
                            {{ form.description_required_keywords.label }}
                            {{ form.description_required_keywords }}
                            <input type="submit" value="Procurar" id="confirm">

                        </form>
                    </div>

                        {% if job_data_list or job_data_list|length > 0 %}
                        <table id="tabela" class="table table-bordered table-striped table-sm table-light">
                            <thead class="thead-dark">
                                <tr align="center">
                                    <th scope="col">Vaga</th>
                                    <th>Empresa</th>
                                    <th>Link da vaga</th>
                                    <th>Estado</th>
                                    <th> Cidade </th>
                                    <th> Home Office </th>
                                    <th> Data da publicação </th>
                                    <th> Data da pesquisa </th>
                                    <th> País </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for job in job_data_list %}
                                <tr align="center">
                                    <td>{{ job.name }}</td>
                                    <td> {{ job.career_page_name }}</td>
                                    <td> <a href="{{ job.job_url }}" target="_blank"><button class="btn-info"> Link </button></a></td>
                                    <td> {{ job.state }}</td>
                                    <td>{{ job.city }}</td>
                                    <td> {{ job.is_remote_work }}</td>
                                    <td> {{ job.published_date }}</td>
                                    <td> {{ job.current_date }}</td>
                                    <td> {{ job.country }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                            {% elif job_data_list == None %}
                            <script>
                                    let job_data_list = '{{ job_data_list|safe }}';
                            </script>
                        {% else %}
                            <p style="color: white"> vaga não encontrada </p>
                        {% endif %}
                        {% if messages %}
                            <div class="alert {{message.tags}}">{{ messages }}</div>
                        {% endif %}

                </div>
            </div>
        </section>
    </main>
    <footer>
    <div class="interface">
        <div class="line-footer">
            <p align="center"> Encontre um emprego </p>
            <p style="text-align: center"><i class="bi bi-envelope-fill"></i> <a href="mailto:thiago.ndev@gmail.com">thiago.ndev@gmail.com</a></p>
            <p style="text-align: center">&copy;  Todos os direitos reservados.</p>
            <p style="text-align: center"><i class="bi bi-github"></i>  Desenvolvido por <span><a href="https://github.com/thiago-ndev" target="_blank">Thiago Alves</a></span></p>
        </div>
    </div>
</footer>


    <script src="{% static 'assets/js/main.js' %}" defer></script>
    <script rel="stylesheet" type="text/css" href="{% static 'assets/js/bootstrap.js' %}"></script>
    <script rel="stylesheet" type="text/css" href="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <script rel="stylesheet" type="text/css" href="{% static 'assets/js/main.js' %}">  </script>

</body>
</html>